body {
    background-color: #282828;
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    background-color: aliceblue;
    height: 64px;
    border-radius: 16px;
    margin-bottom: 8px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 64px;
    flex-shrink: 1;
    flex-grow: 0;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 25%;
    background-color: aliceblue;
    border: 0px;
    padding: 16px;
    margin: 4px;
    font-size: 40px;
    width: 64px;
    text-align: center;
}

button:hover {
    filter: brightness(80%);
}

button:active {
    filter: brightness(70%)
}